body{
    margin: 0;
    background-color: white;
}

.head{
    background-color: #f5f3f1;
    border-bottom: 2px solid silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head img{
    height: 5vh;
    padding: 10px;
}

.head-food img{
    height: 10vh;
}

.head-food{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.headline-img img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.menu{
    border: 2px solid silver;
    padding: 8px;
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 75%;
    border-radius: 22px;
}

.menu img{
    height: 20vh;
}

.menu a{
    text-decoration: underline;
    font-family: 'Acme', sans-serif;
}

.menu ul{
    font-weight: bold;
}


.foot{
    background-color: #f36805;
    border-top: 2px solid silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot img{
    height: 5vh;
    padding: 16px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}